
body {
  font-family: sans-serif;
}

canvas {
  display: block;
  margin-bottom: 1em;
  margin-top: 1em;
}

h1 {
  color: red;
}

div.upload-wrapper {
  position: relative;
  overflow: hidden;
  display: block;
}

div.upload-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

button.photo-submitter,
button#run-analysis {
  padding: .5em;
  font-weight: 500;
  font-size: 1.1em;
  cursor: pointer;
  margin-bottom: 1em;
}

button#run-analysis {
  background-color: red;
  color: white;
}
button#run-analysis:hover{
  background-color: #bd2c23;
}

button.photo-submitter {
  background-color: purple;
  color: white;
}
button.photo-submitter:hover {
  background-color: #3e153e;
}

.container-block {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.container-line {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.canvas-holder {
  margin-right: 2em;
  flex: auto 1 1;
}

.canvas-holder a {
  font-weight: 500;
  border: 1px solid black;
  background-color: #cabfbf;
  padding: 2px 3px;
  text-decoration: none;
}

.canvas-holder a.available {
  background-color: #f98e52;
  cursor: pointer;
}

.canvas-holder a.available:hover,
 .canvas-holder a.available:active {
  color: white;
}

@media (max-width: 700px) {
  .container-block {
    flex-direction: column;
  }
}
